[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pysimplegui = "4"
coverage = "*"
pyyaml = "6"
numpy = "1.24"
pandas = "2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.3"
